# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# images
*.tiff

# backup
*.*~

# python
*.pyc

# gaussian processes
gaussian-process-controller/controller_input.txt
gaussian-process-controller/controller_output.txt
gaussian-process-controller/iterationID.txt
gaussian-process-controller/experimentID.txt

